---
import path from "path";

import { Image } from "@astrojs/image/components";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const images = await Astro.glob("../../raw-images/*.png");

  return images.map((mod) => {
    const basename = path.basename(mod.default.src);
    const [id] = basename.split(".");
    const { src, width, height, format } = mod.default;
    const title = "Ether Logs #" + id;

    return {
      props: { nft: { id, title, image: src, src, width, height, format } },
      params: { id: id },
    };
  });
}

const { nft } = Astro.props;
---

<BaseLayout title={nft.title}>
  <h1>{nft.title}</h1>
  <div>
    <!-- TODO: Inline it to base64, maybe -->
    <Image
      src={nft.src}
      alt={nft.title}
      width={nft.width}
      height={nft.height}
      aspectRation={`1:1`}
      format="webp"
    />
  </div>
</BaseLayout>
